body{
    margin:0 auto;
    width:100%;
    height: 100%;
    min-width: 1000px;
    font: 12px/1.5 Tahoma,Helvetica,Arial,"\5FAE\8F6F\96C5\9ED1",sans-serif;
}

ul{
    list-style: none outside none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.g_inline{
    display: inline;
}



